@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Slideshow Will go here</h1>
</div>

<div class="row">

    <div class="col-md-12" style="background-color:#279dd8;">
        <div class="container">
            <h2>Customs & Excise | Software & Expertise</h2>
        </div>

    </div>

    <div class="col-md-12">
        <div class="container">
            <h4>WELCOME TO LANGDON SYSTEMS</h4>
            <p>Langdon Systems has specialised in the creation and delivery of market leading Duty Management Systems to the international trade arena since 1984. Having had an active presence in the Netherlands for over 15 years and with our new office near Eindhoven, we are ideally placed to service your needs.

Our flexible, comprehensive solutions are designed with your business in mind. They will help you achieve Customs compliance, give you greater control over your import flows and have a minimal impact on your business.

At Langdon Systems, our knowledgeable and experienced team is constantly monitoring new initiatives in our industry. So rest assured when changes occur, such as the introduction of the Aangiftesysteem (AGS), you can be confident we will offer you a fully compliant, reliable solution that always meets your requirements.

We understand Customs legislation is complicated. Need advice about a Customs issue? No problem, our in-house Customs consultants are experts in their field and will offer you all the assistance you might need.

So come in and have a look around. Feel free to contact us if you need any further help.

Welcome to Langdon Systems!</p>
        </div>
    </div>
    <div class="col-md-12" style="background-color:#f4f4f5;">
        <div class="container">
            <br/>
        <div class="row">

            <div class="col-md-4">
                <p>Langdon Systems is a software solution provider based in the Netherlands and the UK with more than 30 years experience of the design, development and implementation of Duty Management Systems throughout Europe.</p>
            </div>

            <div class="col-md-4">
                <p>Customs legislation and procedures can be complex. Our team of industry experts has a deep knowledge and understanding of Customs requirements and is an invaluable source of assistance when you’re faced with Customs issues.</p>
            </div>

            <div class="col-md-4">
                <p>We create comprehensive yet easy-to-use software solutions that give you control and help you to achieve compliance. The flexibility of our products means that we are able to provide systems that are tailor made to your requirements.</p>
            </div>

        </div>
    </div>
    </div>
</div>