@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="height:800px;">
    <h1>Slideshow Will go here</h1>
</div>

<div class="row">

    <div class="col-md-12" style="background-color:#279dd8;">
        <div class="container" id="customs-banner">
            <h1>Customs & Excise | Software & Expertise</h1>
        </div>

    </div>

    <div class="col-md-12">
        <div class="container">
            <div class="col-md-7" style="padding-right:30px;">
                <h1 style="color:#333;">WELCOME TO LANGDON SYSTEMS</h1>
                <p>
                    Langdon Systems has specialised in the creation and delivery of market leading Duty Management Systems to the international trade arena since 1984. Having had an active presence in the Netherlands for over 15 years and with our new office near Eindhoven, we are ideally placed to service your needs.<br /><br />

                    Our flexible, comprehensive solutions are designed with your business in mind. They will help you achieve Customs compliance, give you greater control over your import flows and have a minimal impact on your business.<br /><br />

                    At Langdon Systems, our knowledgeable and experienced team is constantly monitoring new initiatives in our industry. So rest assured when changes occur, such as the introduction of the Aangiftesysteem (AGS), you can be confident we will offer you a fully compliant, reliable solution that always meets your requirements.<br /><br />

                    We understand Customs legislation is complicated. Need advice about a Customs issue? No problem, our in-house Customs consultants are experts in their field and will offer you all the assistance you might need.

                    So come in and have a look around. Feel free to contact us if you need any further help.

                    Welcome to Langdon Systems!
                </p>
            </div>
            <div class="col-md-5">
                <img class="img-right" src="~/Images/ship.jpg" />
            </div>
        </div>
    </div>
    <div class="col-md-12" style="background-color:#f4f4f5;">
        <div class="container">
            <br />

            <div class="quickLinkSnippetArea">
                <ul class="quickLinkButtons clearfix">


                    <li class="clearfix">
                        <span class="quickLinkImg"><img src="http://langdonsystems.nl/wp-content/uploads/2014/09/quick-links-who-we-are.jpg"></span>
                        <span class="quickLinkBox">
                            <h3 class="quickLinkTitle">Who we are</h3>
                            <p class="quickLinkText">Langdon Systems is a software solution provider based in the Netherlands and the UK with more than 30 years experience of the design, development and implementation of Duty Management Systems throughout Europe.</p>
                            <span class="quickLinkUrl"><a href="http://langdonsystems.nl/about-us/">Read More</a></span>
                            <span>

                    </li>


                    <li class="clearfix">
                        <span class="quickLinkImg"><img src="http://langdonsystems.nl/wp-content/uploads/2014/09/quick-links-customs.jpg"></span>
                        <span class="quickLinkBox">
                            <h3 class="quickLinkTitle">Customs</h3>
                            <p class="quickLinkText">Customs legislation and procedures can be complex. Our team of industry experts has a deep knowledge and understanding of Customs requirements and is an invaluable source of assistance when you’re faced with Customs issues.</p>
                            <span class="quickLinkUrl"><a href="http://langdonsystems.nl/customs/">Read More</a></span>
                            <span>

                    </li>


                    <li class="clearfix">
                        <span class="quickLinkImg"><img src="http://langdonsystems.nl/wp-content/uploads/2014/09/quick-links-software.jpg"></span>
                        <span class="quickLinkBox">
                            <h3 class="quickLinkTitle">Software</h3>
                            <p class="quickLinkText">We create comprehensive yet easy-to-use software solutions that give you control and help you to achieve compliance. The flexibility of our products means that we are able to provide systems that are tailor made to your requirements.</p>
                            <span class="quickLinkUrl"><a href="http://langdonsystems.nl/software/">Read More</a></span>
                            <span>

                    </li>


                </ul>

            </div>


        </div>
    </div>
    <div class="col-md-12" style="background-color:#434345;">
        <div class="container">
            <div class="col-md-7">
                <h1>AGS2 - What it is and how it will affect you</h1>
                <p style="color: #fff;">
                    The way you submit your import (& export) declarations to Customs is changing. The old Sagitta Invoer system is in the process of being phased out and replaced by AGS2 (Aangiftesysteem - Phase 2). In a nutshell, this means that you will need to replace or upgrade your current software package.<br /><br />

                    But don’t panic, help is at hand. At Langdon Systems we are experts when it comes to Customs legislation and procedures. We’ll give you the facts about AGS, how it’s going to impact on your current work processes and what you need to do.
                </p>
            </div>
            <div class="col-md-5">
                <img style="" src="~/Images/ags-main-image1.jpg" />
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="container">

            <h1 style="color:#333;">OUR BLOG - SEE WHAT WE'RE TALKING ABOUT</h1>
            <div class="latestNews" style="background-color:#000;">

                <img src="~/Images/dutch_post_image.png" />

                
                    <p style="color: #fff;">
                        We’re delighted to announce the launch of our brand new website in the Netherlands after several months of development. This is an exciting new platform for Langdons and we hope you find our site both …
                    </p>
                
            </div>

        </div>
    </div>
    <div class="col-md-12" style="background-color:#f4f4f5;">
        <div class="container">
            <div class="row">
                <h1 style="color:#333;">Building Relationships that Last</h1>
                <div class="container">
                    <p class="columns">
                        We’d love to work on a project with you, but we don’t want it to be just a one-off experience. We want to develop long-term relationships with our clients that last for many years.

                        We work closely with you at all times, employing the highest standards of service and support in the industry, gaining your trust along the way.

                        Our whole ethos is built on “going the extra mile”. We aim to exceed your expectations and give you the best possible user experience.

                        Our impressive client base, which includes companies known throughout the world from various sectors, is testament, we believe, to the fact that we’re actually pretty good at what we do!
                    </p>
                    <br />
                    <p class="blue-text">Call us on <b>040 440 0330</b> and discover how we can help your business maximise the benefits available through Customs and Excise regulations.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="container">
            <div class="row">
                <h1 style="color:#ccc;">Global Brands that Place their Trust in us</h1>
                <div class="container">
                    <p style="color: #fff;">
                        We’re delighted to announce the launch of our brand new website in the Netherlands after several months of development. This is an exciting new platform for Langdons and we hope you find our site both …
                    </p>

                </div>
                <div class="col-md-12">


                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" style="background-color:#f4f4f5;">
        <div class="container">
            <div class="row">
                <p>   </p>
            </div>
        </div>
    </div>
</div>
